@font-face {
    font-family: 'MullerNextWideTrial-ExtraBold';
    src: url(../fonts/MullerNextWideTrial-ExtraBold.ttf) format("truetype"),
        url(../fonts/MullerNextWideTrial-ExtraBold.woff) format("woff"),
        url(../fonts/MullerNextWideTrial-ExtraBold.woff2) format("woff2");  
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MullerNextWideTrial-Regular';
    src: url(../fonts/MullerNextWideTrial-Regular.ttf) format("truetype"),
        url(../fonts/MullerNextWideTrial-Regular.woff) format("woff"),
        url(../fonts/MullerNextWideTrial-Regular.woff2) format("woff2");  
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}